body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items: center;
    height:100vh;
    width:100vw;
}
.container{
    height:50%;
    width:95%;
     margin: 30px 0;
}

#signatureCanvas {
    /* */
    height:100%;
    width:100%;
    margin:30px 0;
    border: 1px solid #2e0808;
    cursor: crosshair;
    background:white;
}
.buttons{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.actionbtn{
    background-color: white;
    color:black;
    border:1px solid black;
    height:30px;
    width:150px;
    margin: 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor:pointer;
}
#downloadBtn:hover{
    background-color: rgb(0, 75, 0);
    color:white;
    border-color: white;
}
@media only screen and (max-width:600px){
    .container,
    #signatureCanvas{
        width:95vw ;
        height:96vw;
    }
}
